.container-vertical {
  display: flex;
  flex-direction: column;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-1  {flex: 1};
.flex-2  {flex: 1};
.flex-3  {flex: 1};
.flex-4  {flex: 1};
.flex-5  {flex: 1};
.flex-6  {flex: 1};
.flex-7  {flex: 1};
.flex-8  {flex: 1};
.flex-9  {flex: 1};
.flex-10 {flex: 1};
.flex-11 {flex: 1};
.flex-12 {flex: 1};
