@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "reset";
@import "flex";

body {
  font-family: 'Open Sans', Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#main {
  align-items: stretch;
  height: 100vh;
}

#sidebar {
  overflow: auto;
  border-right: 1px solid #222;
}
#chatlog {}
#log {}
#input {}

.roomlist {
  list-style: none;

  li>span{
    display: block;
    margin: 20px 5px;
  }
}